.floral-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Background hitam */
    color: #ffffff; /* Text putih */
    padding: 50px;
    position: relative;
    margin-bottom: 5vw;
  }
  
  .floral-content {
    max-width: 50%;
    z-index: 1;
  }
  
  .floral-title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color: black;
  }
  
  .floral-description {
    font-size: 1.25rem;
    margin: 20px 0;
    color: black;
    max-width: 500px;
  }
  
  .learn-more-btn {
    background-color: #ff4081;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .learn-more-btn:hover {
    background-color: #e0006e;
  }
  
  .floral-images {
    position: relative;
    max-width: 50%;
  }
  
  .main-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 10px solid #ffeef1; /* Border pink di sekitar gambar besar */
  }
  
  .overlay-image {
    position: absolute;
    bottom: -50px;
    left: -50px;
    border: 10px solid #ffeef1;
  }
  
  .overlay-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  