* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.get-deals {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/assets/deals.jpg'); /* Sesuaikan dengan path dari assets Anda */
    background-size:auto; /* Mengatur ukuran gambar agar sesuai dengan area yang tersedia */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Mengatur tinggi minimum agar memenuhi layar */
    padding: 20px;
    margin: 0; /* Menghilangkan margin luar untuk mencegah efek border */
    width: 100vw;

    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    left: 50%; /* Menggeser elemen ke tengah */
    right: 50%; /* Menggeser elemen ke tengah */
    margin-left: -50vw; /* Menghapus margin default */
    margin-right: -50vw; /* Menghapus margin default */
    margin-bottom: -8vw;
  }
  
  .content {
    background-color: rgba(255, 255, 255, 0.9); /* Warna background semi-transparan untuk konten */
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: "Arial", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  
  p {
    font-family: "Arial", sans-serif;
    font-size: 1em;
    color: #666666;
    margin-bottom: 20px;
  }
  
  .whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #ff4b8b;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .whatsapp-button:hover {
    background-color: #e63970;
  }
  