* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header{
    height: 54vw;
    background: url('/header_img.png') no-repeat;
    background-size:100% auto;
    position: center;
    height: 67vw;
    width: 100vw;
    margin-left: calc(-50vw + 50%); /* Ensures the background spans the full width */
    padding-left: calc(50vw - 50%); /* Center the content within the background */
    padding-right: calc(50vw - 50%);
    overflow: hidden;
    margin-bottom: 5vw;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    left: 1vw;
}

.header-contents h2{
    font-weight: 700;
    color: black;
    font-size: max(4.5vw,90px);
    max-width: 80%;
    line-height: 110%;
    animation: fadeIn 5s;
}

.header-contents p{
    color: black;
    font-size: 1vw;
    max-width: 55%;
}

.header-contents button{
    display: flex;
    color: white;
    background: var(--Primary-Primary, #E32C89);
    width: 160px;
    height: 48px;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: max(0.9vw, 13px);

}